

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:var(--bgcolor);
}

.buttonrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-top: 0;
    gap: 60px; 
}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 10px;
}

.buttonrow a {
    color: var(--bgcolor);
    text-decoration: none;
    font-size: 24px;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.buttonrow a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.buttonrow a i {
    pointer-events: none;
}

#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 0 15px;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: relative;
}
